@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply tracking-wide;
    @apply text-white;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
    @apply tracking-wide;
  }
}

body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.popup-content  {
  border-radius: 0.50rem !important;
  margin-top: 10% !important;
  width: 25% !important;
}